<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">./tests/</directory>
			<exclude>./tests/SampleTest.php</exclude>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>schemaDefinitions</group>
		</exclude>
	</groups>
	<filter>
		<whitelist>
			<directory suffix=".php">includes</directory>
		</whitelist>
	</filter>
</phpunit>
